<div class="login-container">
  <div class="form-wrapper">
    <!-- image -->
    <div><img src="assets/climb.png" /></div>
    <!-- form -->
    <form action="">
      <h3>Welcome back</h3>
      <div class="form-input">
        <label for=""></label>
        <input type="email" placeholder="Email" />
      </div>
      <div class="form-input">
        <label for=""></label>
        <input type="password" placeholder="Password" />
      </div>
      <div class="form-input">
        <label for=""></label>
        <input type="submit" value="Login" />
      </div>
      <!-- sign in -->
      <p>Don't have an account? <a href="">Sign up</a></p>
    </form>
  </div>
</div>
