<div class="add-project">
  <h3>Project details</h3>
  <hr />
  <form action="#">
    <!-- Project title -->
    <div>
      <label for="">Title</label>
      <input id="title" required type="text" placeholder="eg. Chama kikundi" />
    </div>
    <!-- Select student -->
    <div>
      <label for="">User</label>
      <select id="users" required></select>
    </div>
    <!-- End date -->
    <div>
      <label for="">End date</label>
      <input type="date" id="date" />
    </div>
    <!-- Description -->
    <div>
      <label for="">Description</label>
      <textarea
        required
        id="description"
        rows="6"
        placeholder="Project description"
      ></textarea>
    </div>
    <!-- Description -->
    <div class="submit">
      <input type="submit" value=" Add Project" id="submit-project" />
    </div>
  </form>
</div>
