<div class="register-container">
  <div class="form-wrapper">
    <!-- image -->
    <div><img src="assets/chart.png" /></div>
    <!-- form -->
    <form action="">
      <h3>Get started</h3>
      <div class="form-input">
        <label for=""></label>
        <input type="text" placeholder="Username" />
      </div>
      <div class="form-input">
        <label for=""></label>
        <input type="email" placeholder="Email" />
      </div>
      <div class="form-input">
        <label for=""></label>
        <input type="password" placeholder="Password" />
      </div>
      <div class="form-input">
        <label for=""></label>
        <input type="password" placeholder="Confirm password" />
      </div>
      <div class="form-input">
        <label for=""></label>
        <input type="submit" value="Get Started" />
      </div>
      <!-- sign in -->
      <p>Already have an account? <a href="">Sign in</a></p>
    </form>
  </div>
</div>
