<app-header></app-header>
<div class="hero-container">
  <div class="hero-content">
    <h1>Project Management Done Right</h1>
    <p>
      TheJitu invests heavily in tools that help your team move faster through
      proper project management. We enable you to invest in the most important
      parts or your business which include growth by handling some hassles for
      you. Project management is one of these hassles that we help you to
      manage. Invest in a product that is invested in you.
    </p>

    <a routerLink="/register">Get started</a>
  </div>
  <div class="hero-image"><img src="assets/hero-image.png" /></div>
</div>
